h1 {

    text-align: center;
    color: black;
}

#enlace {
    text-align: center;
}

#Fondo_principal {
    background-repeat: no-repeat;
    
}

body{

    background-color: rgb(198, 148, 231);

}

#Enlaces{

    color: rgb(0, 0, 0);
    
}