.tabla{
    
    border: 2px solid;
    width: 100px;
    border-collapse: collapse;
}

.tabla td{

    text-align: center;
    border: 2px solid;
}

.tabla tr:hover{
    background-color: cyan;
}

.tabla th{

    border: 2px solid;
    background-color: cyan;
}
.tabla{

    margin: 150px auto;
    width: 750px;
}

body{

    text-align: center;
}

#cuerpo{

    background-color: rgb(215, 171, 245);
}
 .tabla td{

    color: black;
 }

.table td{

    overflow: auto;
    overflow-x: hidden;
}

#toma_turno h2{
    width: 400px;
    height: 4px;
}