{% load static %}
<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet"  href="{% static 'css/cambiando_turnos/cambio_turno.css' %}">
        </head>
        <body>
            <header>
                <h1>Ingrese su id de turno nuevo y luego el actual</h1>
            </header>
            <form method="post">
                {% csrf_token %}
                {{ formu.as_p }}
                <input class = "Cambiar" type="submit" value="Cambiar turno">
            </form>
            <a href="{% url 'Turnos_de_los_pacientes' %}">Volver a mis turnos</a>
        </body>
    </html>
