{% load static %}
<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet"  href="{% static 'css/home_doctores/home_turnos.css' %}">
        </head>
        <body>
            <header>
                <h1>Turnos por atender</h1>
            </header>
            <a class="Logout" href='{% url "Logout" %}'>Logout</a>
            <a class="Busqueda" href="{% url 'Busqueda avanzada' %}">Busqueda Avanzada</a>
            <section>
                <p>Usuario: {{ user.username }} </p>
            </section>
            <table>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Doctor</th>
                    <th>Paciente</th>
                    <th>DNI</th>
                    <th>Descripcion</th>
                </tr>
            {% for i in resultado %}
                <tr>
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    <td>{{ i.3 }} {{ i.4 }}</td>
                    <td>{{ i.5 }}</td>
                    <td>{{ i.6 }}</td>
                {% endfor %}
                </tr>
            </table>
        </body>

