{% load static %}
<!DOCTYPE html>
    <head>
        <link link rel="stylesheet"  href="{% static 'css/home_doctores/login.css' %}">
    </head>
    <body>
        <header>
            <h1>Autenticacion</h1>
        </header>
        <form method="POST">
            {% csrf_token %}
            <p>{{ form }}</p>
            <input class = "Login" type="submit" value="Login">
        </form>
        <nav>
            
                <a class = "Home" href= "{% url 'Home' %}">Home</a>
                <a class = "Reset" href = "{% url 'Reseteo' %}">Olvide mi password</a>
            
        </nav>
    </body>
</html>

