{% load static %}
<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet"  href="{% static 'css/recuperacion_password/news_passwords.css' %}">
        </head>
        <body>
            {% if validlink %}
            <header>
                <h1>Cambia tu password </h1>
            </header>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="Aceptar" type="submit" value="Aceptar">
            </form>
            {% else %}
                <p>El siguiente link es invalido</p>
            {% endif %}
        </body>
    </html>