<h1>Por favor, tome nota del numero de turno a seleccionar y anotelo</h1>

<table>

<tr>
    <th>Numero de turno</th>
    <th>Fecha</th>
    <th>Hora</th>
    <th>Doctor</th>
    <th>Especialidad</th>
    <th>Estado</th>

    

</tr>




{% for turnos in turno %}
 <tr>
    
    <td> {{ turnos.0 }}</td>
    <td>{{ turnos.1 }}</td>
    <td>{{ turnos.2 }}</td>
    <td>{{ turnos.3 }}</td>
    <td> {{ turnos.4 }}</td>
    <td>{{ turnos.5 }}</td>

    {% endfor %}
 </tr>
</table>
<a href="{% url 'Turnos' %}">Reservar turno</a>
<a href="{% url 'Home' %}">Home</a>
<a href="{% url 'Turnos_de_los_pacientes' %}">Ver mis turnos</a>







