<table>

    <tr>

        <th>Fecha</th>
        <th>Hora</th>
        <th>Paciente</th>
        <th>DNI</th>
        <th>Doctor</th>
        <th>ID de turno disponible</th>


    </tr>

{% for datos in datos_turno_paciente %}

    <tr>
        <td>{{ datos.7 }}</td>
        <td>{{ datos.8 }}</td>
        <td>{{datos.1  }} {{ datos.2 }}</td>
        <td>{{ datos.3 }}</td>
        <td>{{ datos.9 }}</td>
        <td> {{ datos.5 }}</td>

        {% endfor %}

    </tr>


<a href="{% url 'Cambio_turnos_pacientes' %}">Cambiar un turno</a>

</table>