body header h1{
    width: 300px;
    position: relative;
    top: 30px;
    left: 750px;
    color: seashell;
}

body{
    background: rgb(114, 38, 185);
}

body form{

    width: 700px;
    position: relative;
    top: 220px;
    left: 650px;
}

body form p{
    font-size: 30px;
    color: seashell;
}

body form input{

    width: 250px;
    height: 30px;
}
body form .Aceptar{
    width: 200px;
    height: 50px;
    position: relative;
    left: 180px;
    top: 40px;
    font-size: 25px;
    background: rgb(247, 154, 87);
    color: black;
}